/* estilos do conteúdo principal */
.sec-home-main-content {
  width: inherit;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: aqua;
}

.sec-home-main-content-promo-price {
  min-height: 20vh;
  width: 25vw;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 10rem;
}

.title-promo-container {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-left: 1rem;
}

.title-promo {
  color: var(--var-header-navbar-span-promo-title);
  font-family: 'MonteCarlo', cursive;
  font-size: 5.625rem;
  line-height: 1.2;
}

.promo-container {
  flex-grow: 1;
  background-color: blueviolet;
  display: flex;
}

.price-values {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  background-color: dodgerblue;
}

/* estilo dos preços */

.percentage-discount-container {
  width: 6rem;
  height: 3rem;
  background-color: #47230A;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.price-values > .percentage-discount-container > .percentage-discount {
  color: #FCFCFC;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
.price-values > .price > span {
  padding-left: 1rem;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #5E483C;
}
.price-values > .price > span:nth-child(2) {
  padding-left: 1rem;
  font-size: 48px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #5E483C;
  font-weight: bolder;
}
.price-values > .last-price > span {
  padding-left: 1rem;
  color: #FFC286;
  font-size: 18px;
}
.price-values > .last-price > span:nth-child(2) {
  padding-left: 1rem;
  color: #FFC286;
  font-size: 24px;
  text-decoration: line-through;
}

/* estilos dos botões da promoção */
.container-buy {
  flex-grow: 3;
  background-color: lightpink;
}