/* estilos do conteúdo principal */
.sec-home-main-content {
  position: relative;
  width: inherit;
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

/* style do título em backgroun */
/* container: */
.sec-home > .txt-back {
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 8rem;
  overflow: hidden;
  z-index: 1;
}

/* style do text */
.sec-home > .txt-back > svg {
  position: relative;
  width: 100%;
  height: 100%;
}

.sec-home > .txt-back > svg {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  font-weight: 900;
  text-transform: uppercase;
}

.sec-home > .txt-back > svg > text {
  stroke: rgba(71, 35, 10, 0.09);
  stroke-width: 2px;
  fill: transparent;
}

/* estilo das sementes de café no background */
.abso {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* semente 1 */
.coffee-bean1 {
  width: 5%;
  height: 15%;
  top: 12%;
  left: 8%;
  background: url(../../assets/one_coffee.svg) transparent center/100%  
    no-repeat; 
}

.coffee-bean2 {
  width: 5%;
  height: 15%;
  top: 60%;
  left: 7%;
  background: url(../../assets/one_coffee.svg) transparent center/100% 
    no-repeat;
  transform: rotate(110deg);
}

.coffee-bean3 {
  width: 5%;
  height: 15%;
  top: 20%;
  left: 80%;
  background: url(../../assets/one_coffee.svg) transparent center/100% 
    no-repeat;
  transform: rotate(200deg);
}

.coffee-bean4 {
  width: 18%;
  height: 45%;
  top: 40%;
  left: 83%;
  background: url(../../assets/tree_coffee_beans.svg) transparent center/100% 
    no-repeat;   
}

