/* estilo da div de menu da promoção da homepage */

.sec-home-main-content-promo-price {
  height: 17rem;
  width: 25rem;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 10rem;
}

.title-promo-container {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.title-promo {
  color: var(--var-header-navbar-span-promo-title);
  font-family: 'MonteCarlo', cursive;
  font-size: 5.625rem;
  line-height: 1.2;
}

.promo-container {
  flex-grow: 1;
  display: flex;
}

.price-values {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
}

/* estilo dos preços */

.percentage-discount-container { /* container com o desconto */
  width: 5.2rem;
  height: 3rem;
  background-color: #47230A;
  border-radius: 0 25px 25px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.price-values > .percentage-discount-container > .percentage-discount {
  color: #FCFCFC;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-left: 0.4rem;
}
.price-values > .price > span {
  padding-left: 1rem;
  font-size: 18px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #5E483C;
}
.price-values > .price > span:nth-child(2) {
  padding-left: 1rem;
  font-size: 48px;
  font-family: 'Montserrat Alternates', sans-serif;
  color: #5E483C;
  font-weight: bolder;
}

.price-values > .last-price {
  font-family: 'Montserrat Alternates', sans-serif;
}

.price-values > .last-price > span {
  padding-left: 1rem;
  color: #FFC286;
  font-size: 18px;
}
.price-values > .last-price > span:nth-child(2) {
  padding-left: 1rem;
  color: #FFC286;
  font-size: 24px;
  font-weight: bold;
  text-decoration: line-through;
}

/* estilos dos botões da promoção */
.container-purchase {
  flex-grow: 10;
  display: flex;
  flex-flow: column nowrap;
}

.promo-quantity-container {
  min-height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.promo-quantity-container .coffee-promo-quantity {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #2F2F2F;
  font-size: 2rem;
  font-weight: bold;
}

/* botâo remover */
.promo-quantity-container > .btn-less {
  border: none;
  outline: none;
  background-color: #FCFCFC;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* botão adicionar */
.promo-quantity-container > .btn-more {
  border: none;
  background-color: #FCFCFC;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.promo-quantity-container > .btn-less:active {
  background-color: #2f2f2f18;
}
.promo-quantity-container > .btn-more:active {
  background-color: #2f2f2f18;
}

/* container botão adicionar carrinho */
.btn-add-cart-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* botão adicionar carrinho */
.btn-add-cart-container > #btn-buy-promo {
  border: none;
  background-color: #47230A;
  color: #FCFCFC;
  padding: 0.8rem 4rem;
  border-radius: 50px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.btn-add-cart-container > #btn-buy-promo:hover {
  box-shadow: none;
}

.btn-add-cart-container > #btn-buy-promo > i {
  font-size: 2rem;  
}