/* divider style */
.shape-divider-bottom {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(100vh - 150px);
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.shape-divider-bottom .shape-fill {
  fill: #47230A;
}
