/* style container header */
.container-sec-home-header {
  width: inherit;
  height: 6rem;
  background-color: var(--var-header-navbar-sec-home);
  transition: height 0.5s ease;
}

.sticky {
  position: fixed;
  width: inherit;
  height: 4rem !important;
  box-shadow: 0 0 5px var(--var-fixed-navbar-shadow);
}

.header-sec-home {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: inherit;
  border-bottom: 2px solid var(--var-header-sec-home-border-buttom);
  padding: 0 1rem 0 1rem;
  z-index: 1;
  margin: auto;
}

/* style logo */
.header-sec-home-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  cursor: default;
}

/* style div icons */
.header-sec-home-nav-icons {
  min-width: 5rem;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

/* style div icon account */
.icon-account {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.icon-account:hover {
  cursor: pointer;
  background-color: #0000000e;
}

/* style div icon cart */
.icon-cart {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: url(../../img/coffee-cup-cart.png) transparent center center/cover
    no-repeat;
  cursor: pointer;
}

.quantity {
  color: var(--var-white-color);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}

/* style nav itens */
.header-sec-home-nav {
  width: auto;
  height: inherit;
}

.header-sec-home-nav-list {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2vw;
}

.nav-list-item {
  list-style: none;
  width: inherit;
  height: inherit;
}

.nav-list-item > a > span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  transition: padding 0.4s ease, color 0.3s ease;
  color: var(--var-header-navbar-span-itens);
  font-weight: bold;
}

.nav-list-item > a {
  text-decoration: none;
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.nav-list-item > a:hover > span {
  color: var(--var-header-navbar-span-itens-hover);
}

.nav-list-item > a:active > span {
  transform: scale(0.99);
}

.nav-list-item > a #coffee-bean-bar {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 60%;
  background: url(../../img/coffee-beans-24.png) transparent center/cover
    no-repeat;
  transition: transform 0.5s ease;
}

/* active  */
.nav-list-item > a.active > span {
  padding-bottom: 1.2rem;
  color: var(--var-header-navbar-span-itens-hover);
}
