/* container para o header */
.container-sec-home-header {
  position: fixed;
  width: inherit;
  height: 6rem;
  background-color: var(--var-header-navbar-sec-home);
  transition: height 0.4s ease;
  z-index: 5;
  margin-top: -6rem;
}

/* animação da barra de navegação com evento scroll: */
.sticky {
  width: inherit;
  height: 5rem;
  box-shadow: 0 20px 50px var(--var-fixed-navbar-shadow);
  border-radius: 5rem;
  transform: translateY(1rem);
  background-color: #fcfcfc;
  width: 80%;
}

.header-sec-home {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: inherit;
  border-bottom: 2px solid var(--var-header-sec-home-border-buttom);
  padding: 0 1rem 0 1rem;
  z-index: 1;
  margin: auto;
}

/* style logo */
.header-sec-home-logo {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  background: no-repeat center/50% transparent
    url(../../assets/Java_programming_language_logo.svg);
  cursor: default;
  transition: all 0.4s ease-out;
}

/* reajuste do tamanho da logo */
.dynami-logo {
  width: 4rem;
  height: 4rem;
}

/* style div icons */
.header-sec-home-nav-icons {
  min-width: 5rem;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

/* style div icon account */
.icon-account {
  width: 2.1rem;
  height: 2.1rem;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  outline: 2px solid black;
  overflow: hidden;
}

.icon-account > #user-icon {
  font-size: 1.7rem;
}

.icon-account:hover {
  cursor: pointer;
  background-color: var(--var-icon-account-background);
}

/* style div icon cart */
.icon-cart {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: no-repeat center/cover transparent
    url(../../assets/coffee_cup_cart.png);
  cursor: pointer;
}

.quantity {
  color: var(--var-white-color);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}

/* estilo da barra de navegação: */
.header-sec-home-nav {
  width: auto;
  height: inherit;
}

.header-sec-home-nav-list {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2vw;
}

.nav-list-item {
  list-style: none;
  width: inherit;
  height: inherit;
}

.nav-list-item > a > span {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  transition: padding 0.4s ease, color 0.3s ease;
  color: var(--var-header-navbar-span-itens);
  font-weight: bold;
}

.nav-list-item > a {
  text-decoration: none;
  position: relative;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.nav-list-item > a:hover > span {
  color: var(--var-header-navbar-span-itens-hover);
}

.nav-list-item > a:active > span {
  transform: scale(0.99);
}

.nav-list-item > a #coffee-bean-bar {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  top: 60%;
  background: url(../../assets/coffee_move_nav.png) transparent center/100%
    no-repeat;
  transition: transform 0.5s ease;
}

/* levanta o elemento do menu ao click: */
.nav-list-item > a.active > span {
  padding-bottom: 1.2rem;
  color: var(--var-header-navbar-span-itens-hover);
}
