/* home section */
.sec-home {
  width     : inherit;
  min-height: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--var-default-background);
}