body {
  width: 100%;
  min-height: 100vh;

  overflow: hidden;
}

main {
  min-height: inherit;
  width: 100%;
  background-color: #c5a880;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  padding-top: 3em;
}

section {
  width: 25rem;
  min-height: 30rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap: 1.5rem;
  z-index: 2;
}

.header {
  height: 25%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.header h1 {
  font-size: 2rem;
  color: #0f0f0f;

  text-align: center;
}

.header span {
  font-weight: bold;
  color: #532e1c;
}

.form {
  width: 100%;
  height: 100%;

  overflow-x: hidden;

  animation: fade 0.5s ease;
}

form {
  min-width: 100%;
  min-height: 100%;
  background-color: #e6e6e6;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 0.5rem;

  padding: 1.5rem;
}

.container-inp {
  width: 95%;
  height: 8rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}

.container-inp:nth-child(1) {
  animation: enter 0.4s ease-in-out 0.2s backwards;
}
.container-inp:nth-child(2) {
  animation: enter 0.5s ease-in-out 0.3s backwards;
}

.container-inp label {
  color: #0f0f0f;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: flex-start;
}

.container-inp input {
  caret-color: #532e1c;
  border: none;
  outline: none;
  width: 100%;
  height: 50%;
  border-radius: 0.5em;
  padding: 1em;
  font-size: 1.2rem;
  text-overflow: ellipsis;
  transition: transform, filter, 0.3s ease-in-out 0.1s;
}

.container-inp input:focus {
  transform: scale(1.01);
  filter: drop-shadow(0 25px 10px #0f0f0f56);
}

#btn-login {
  border: none;
  outline: none;
  width: 8rem;
  height: 3rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s ease;

  animation: enterBtn 0.4s ease 0.4s backwards;
}

#btn-login:hover {
  background-color: #532e1c;
  color: #e6e6e6;
  box-shadow: 0 5px 0 #e6e6e6;
}

#btn-login:active {
  box-shadow: none;
  transform: translatey(5px);
}

/* animação de sumir com o form quando o botão é clicado */
.form-hide {
  animation: down 0.5s cubic-bezier(0.69, -0.25, 0.54, 1.07) forwards;
}

/* animação no-no */
.form.validate-error {
  animation: nono 0.3s ease both alternate-reverse, fade paused;
  animation-iteration-count: 2;
}

/* círculos animados em background */

.circle li {
  position: absolute;

  display: block;

  bottom: 0;
  right: 0;

  width: 100px;
  height: 100px;

  border-right: 2px solid #532e1c;
  border-radius: 50%;

  animation: upcircle infinite alternate; /* js config */

  
  background-color: #532e1c86;
}
