.sec-dest {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background: url("../../assets/toldo.png") #faf1df -15px top/110% repeat-x;
}

.title-dest-container {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-flow: column nowrap;
}

.title-dest {
  font-family: "MonteCarlo", sans-serif;
  font-size: 96px;
  color: #5d3c25;
  line-height: normal;
}

.sec-dest > .container-content {
  position: relative;
  width: inherit;
  height: calc(100vh - 300px);
  background-color: #faf1df;
  background-image: url("../../assets/background-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

.sec-dest > .container-content .btn-back {
  position: relative;
  left: 30px;
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  background: linear-gradient(to right, rgb(71, 35, 10), rgb(71, 35, 10, 0.7));
  border-radius: 50%;
  color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sec-dest > .container-content .btn-go-to {
  position: relative;
  right: 30px;
  font-size: 3rem;
  width: 6rem;
  height: 6rem;
  background: linear-gradient(to left, rgb(71, 35, 10), rgb(71, 35, 10, 0.7));
  border-radius: 50%;
  color: #fcfcfc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.sec-dest > .container-content .btn-back:hover {
  transform: translateX(-15px);
}

.sec-dest > .container-content .btn-go-to:hover {
  transform: translateX(15px);
}

.sec-dest > .container-content > .all-cards-container {
  width: 24rem;
  min-height: 35rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
  border-radius: 2rem;
  scroll-snap-type: x mandatory; /* snap no pai */
  scroll-behavior: smooth;
  /* some com a barra no firefox! */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.sec-dest > .container-content > .all-cards-container::-webkit-scrollbar {
  display: none;
}

/* estilo dos cards */

.container-dest-cards {
  margin: 0 2rem 0 2rem;
  width: 22rem;
  height: 35rem;
  border: #84513a solid 15px;
  border-radius: 2rem;
  overflow: hidden;
  flex: none;
  background-color: #fcfcfc;
  scroll-snap-align: center; /* snap no filho */
  pointer-events: none; /* desativa os eventos target no elemento */
}

.container-dest-cards > .dest-card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
}

.container-dest-cards > .dest-card > .container-dest-card-img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center;
}

.container-dest-cards > .dest-card > .container-dest-card-img > img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.container-dest-cards > .dest-card > .container-info-card {
  font-family: "Montserrat", sans-serif;
  flex-grow: 3;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
}

.container-dest-cards > .dest-card > .container-info-card > span:nth-child(1) {
  color: gold;
  font-size: 1.5rem;
  margin-left: 15%;
}

.container-dest-cards > .dest-card > .container-info-card > span:nth-child(2) {
  font-size: 1.5rem;
  margin-left: 15%;
}

.container-dest-cards > .dest-card > .container-info-card > span:nth-child(3) {
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-left: 15%;
}

.container-dest-cards > .dest-card > .container-info-card > span:nth-child(4) {
  font-size: 1.5rem;
  margin-left: 15%;
  color: #525252;
}

.container-dest-cards > .dest-card > .footer-dest-card {
  font-family: "Montserrat", sans-serif;
  flex-grow: 4;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
}

.container-dest-cards > .dest-card > .footer-dest-card > .container-quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.container-dest-cards
  > .dest-card
  > .footer-dest-card
  > .container-quantity
  > button:nth-child(1) {
  width: 3rem;
  height: 3rem;
  background-color: #84513a;
  color: #fcfcfc;
  font-size: 2rem;
  border: none;
  border-radius: 2rem;
  text-align: center;
  pointer-events: painted;
  cursor: pointer;
}

.container-dest-cards
  > .dest-card
  > .footer-dest-card
  > .container-quantity
  > button:nth-child(3) {
  width: 3rem;
  height: 3rem;
  background-color: #84513a;
  color: #fcfcfc;
  font-size: 2rem;
  border: none;
  border-radius: 2rem;
  text-align: center;
  pointer-events: painted;
  cursor: pointer;
}

.container-dest-cards
  > .dest-card
  > .footer-dest-card
  > .container-quantity
  > .card-contity-product {
  font-size: 3rem;
  font-weight: bold;
}

.container-btn-add-car-dest-product {
  width: 7rem;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-right: 1rem;
}

.container-btn-add-car-dest-product > button {
  position: relative;
  width: inherit;
  height: 7rem;
  border: none;
  font-size: 2.5rem;
  background-color: red;
  color: #fcfcfc;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  pointer-events: painted;
  cursor: pointer;
}

.sec-dest > .container-content > footer .coffe > img {
  position: absolute;
  top: 33rem;
  left: 105rem;
  width: 10rem;
}